@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-style: italic;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: hsl(0, 3%, 93%);
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: -0.05rem;
  font-size: clamp(1rem, 0.9rem + 1vw, 1.125rem);
  font-family: "DM Sans", sans-serif;
}

body {
  min-height: 100vh;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

h1 {
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 2rem;
    line-height: 0.9;
  }
}

figcaption {
  font-size: 1.25rem;
  font-weight: 500;
}
@media (min-width: 1024px) {
  figcaption {
    font-size: 1.5rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.container {
  min-height: 100vh;
  padding-inline: 1rem;
  margin-block: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "testimonial" "platforms" "consistency" "schedule" "followers" "growth" "faster-content" "writing";
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 4rem auto 3rem;
    grid-template-rows: minmax(20rem, auto) minmax(3rem, auto) minmax(5rem, auto) minmax(11rem, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    grid-template-areas: "faster-content   testimonial   testimonial   schedule" "faster-content   platforms     consistency   schedule" "writing          platforms     consistency   schedule" "writing          growth        followers     followers";
  }
}
@media (min-width: 2560px) {
  .container {
    place-content: center;
  }
}

.testimonial-card {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.75rem;
  padding: 1rem;
  text-align: center;
  padding-inline: 2rem;
  padding-block: 2.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
}
.testimonial-card .yellow-text {
  color: hsl(39, 100%, 71%);
  background-color: transparent;
}
.testimonial-card__figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.testimonial-card__figure figcaption {
  font-weight: 200;
}
.testimonial-card .five-star-rating-img {
  max-width: 70%;
}
@media (min-width: 1024px) {
  .testimonial-card {
    display: flex;
    flex-direction: column;
    grid-area: testimonial;
    padding-block: 3.5rem;
  }
  .testimonial-card h1 {
    padding-inline: 1rem;
  }
  .testimonial-card__figure {
    margin-top: auto;
  }
  .testimonial-card__figure .five-star-rating-img {
    max-width: 40%;
  }
  .testimonial-card__figure figcaption {
    font-size: 1.5rem;
  }
}

.multiple-platform-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
  border-radius: 0.75rem;
  padding: 1rem;
}
.multiple-platform-card__figure {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  order: -1;
}
.multiple-platform-card__figure .multiple-accounts-img {
  filter: drop-shadow(0 2px 8px hsla(0, 0%, 0%, 0.15));
  margin-bottom: 0.5rem;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .multiple-platform-card {
    grid-area: platforms;
    overflow: hidden;
    padding-top: 1.5rem;
  }
  .multiple-platform-card h2 {
    padding-left: 0.5rem;
  }
  .multiple-platform-card .multiple-accounts-img {
    max-width: 140%;
    transform: translateX(6rem);
    padding-bottom: 2rem;
  }
}

.consistent-posting-card {
  background-color: hsl(39, 100%, 71%);
  color: hsl(0, 0%, 7%);
  border-radius: 0.75rem;
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.consistent-posting-card h2 {
  text-align: left;
}
.consistent-posting-card__figure {
  margin: 0;
  margin-top: auto;
  max-width: 80%;
  transform: translateY(1.3rem);
}
@media (min-width: 1024px) {
  .consistent-posting-card {
    grid-area: consistency;
    padding-top: 1.5rem;
    padding-inline: 1.5rem;
  }
  .consistent-posting-card__figure {
    max-width: 100%;
    transform: translateY(1rem);
  }
}

.schedule-posts-card {
  background-color: hsl(254, 88%, 90%);
  color: hsl(0, 0%, 7%);
  border-radius: 0.75rem;
  padding: 1rem;
  padding-top: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.schedule-posts-card h2 {
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.schedule-posts-card .schedule-posts-img {
  margin-bottom: 1.5rem;
}
.schedule-posts-card figcaption {
  font-size: 1.125rem;
  font-weight: 400;
  margin-block: 1rem;
  margin-inline: 0.5rem;
}
@media (min-width: 1024px) {
  .schedule-posts-card {
    grid-area: schedule;
    padding-top: 3rem;
    justify-content: flex-start;
  }
  .schedule-posts-card h2 {
    white-space: normal;
    text-align: left;
    margin-left: 0.75rem;
  }
  .schedule-posts-card .schedule-posts-img {
    margin-left: 2rem;
    max-width: 160%;
    transform: translateX(-1.3rem);
  }
  .schedule-posts-card figcaption {
    text-align: left;
    margin: 0;
    padding-inline: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.125rem;
  }
}

.grow-followers-card {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  text-align: center;
  gap: 3rem;
}
.grow-followers-card h2 {
  font-size: 2rem;
  font-weight: 500;
  order: 1;
}
@media (min-width: 1024px) {
  .grow-followers-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: followers;
    padding-left: 1.5rem;
  }
  .grow-followers-card h2 {
    text-align: left;
    font-size: 2rem;
  }
  .grow-followers-card .grow-followers-img {
    max-width: 130%;
  }
}

.increased-growth-card {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.increased-growth-card__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.increased-growth-card__percentage {
  font-size: 2.75rem;
  font-weight: 500;
}
.increased-growth-card figcaption {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .increased-growth-card {
    grid-area: growth;
    justify-content: flex-start;
  }
  .increased-growth-card__figure,
  .increased-growth-card .increased-growth-img {
    align-items: flex-start;
    text-align: left;
  }
}

.faster-content-creation-card {
  background-color: hsl(31, 66%, 93%);
  color: hsl(0, 0%, 7%);
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faster-content-creation-card .purple-text {
  color: hsl(256, 67%, 59%);
  font-style: italic;
}
.faster-content-creation-card h2 {
  margin-bottom: 1.5rem;
}
.faster-content-creation-card figure {
  margin-top: auto;
}
.faster-content-creation-card .faster-content-creation-img {
  max-width: 60%;
}
@media (min-width: 1024px) {
  .faster-content-creation-card {
    grid-area: faster-content;
    text-align: left;
    padding-block: 3rem 0;
  }
  .faster-content-creation-card h2 {
    margin-bottom: 0.5rem;
  }
  .faster-content-creation-card .faster-content-creation-img {
    max-width: 100%;
  }
}

.write-content-card {
  background-color: hsl(39, 100%, 71%);
  color: hsl(0, 0%, 7%);
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.write-content-card h2 {
  margin-bottom: 1.5rem;
}
.write-content-card__figure {
  margin-top: auto;
}
.write-content-card .write-content-img {
  max-width: 80%;
}
@media (min-width: 1024px) {
  .write-content-card {
    grid-area: writing;
    text-align: left;
    padding-block: 1.5rem;
  }
  .write-content-card h2 {
    max-width: 90%;
    margin-bottom: 0;
  }
  .write-content-card .write-content-img {
    max-width: 105%;
  }
}

footer .attribution {
  font-size: 0.688rem;
  text-align: center;
}
footer .attribution__a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 1024px) {
  footer {
    grid-area: footer;
  }
}/*# sourceMappingURL=main.css.map */