//=====================================
// Variable Declaration
//=====================================

// Colour Variables

$grey-100: hsl(0, 3%, 93%);
$purple-100: hsl(254, 88%, 90%);
$purple-500: hsl(256, 67%, 59%);
$yellow-100: hsl(31, 66%, 93%);
$yellow-500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);

$link-color: hsl(228, 45%, 44%);

// Font Size Variables
$fs-attribution: 0.688rem;
$fs-base: 1.125rem;
$fs-figcaption: 1.25rem;
$fs-figcaption-xl: 1.6rem;
$fs-figcaption-2xl: 2rem;
$fs-h2: 1.5rem; // h3 font size  * 1.2 (minor third scale), then adjusted by eye
$fs-h1: 2.75rem; // h2 font size  * 1.2 (minor third scale), then adjusted by eye

// Spacing Variables
$space-xs: 0.5rem;
$space-2xs: 0.75rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-2xl: 3rem;
$space-3xl: 4rem;
$space-4xl: 6rem;

// Border variables
$border-radius-base: 0.75rem;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
$breakpoint-desktop-4k: 2560px;
