//===========================================
// Configuration
//===========================================
@use "variables" as *;
@use "mixins";
@use "fonts";

//===========================================
// Utility Classes
//===========================================

// Hides an element while keeping content accessible to screen
// readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

//===========================================
// Styling
//===========================================

*,
*::before,
*::after {
  box-sizing: border-box;
  // Reset Margins/Padding
  margin: 0;
  padding: 0;
}

html {
  background: $grey-100;
  font-size: $fs-base;
  line-height: 1;
  letter-spacing: -0.05rem;
  // Set Fluid Font-size //
  font-size: clamp($space-sm, 0.9rem + 1vw, $fs-base);
  font-family: "DM Sans", sans-serif;
}

body {
  min-height: 100vh;
}

// Font Configuration
p {
  font-size: $fs-base;
  font-weight: 400;
}

h1 {
  font-size: $fs-h1;
  font-weight: 500;
  margin-bottom: $space-md;

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    font-size: $fs-desktop-h1;
  }
}

h2 {
  font-size: $fs-h2;
  font-weight: 500;

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    font-size: $fs-desktop-h2;
  }
}

figcaption {
  font-size: $fs-figcaption;
  font-weight: 500;

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    font-size: $fs-desktop-figcaption;
  }
}

// Make images responsive a default behaviour
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.container {
  min-height: 100vh;
  // Base Layout: Grid
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  // Set space between cards
  gap: $space-lg;
  // Use padding for consistent side gutters
  padding-inline: $space-sm;
  // Use margin for vertical spacing.
  margin-block: $space-lg;

  grid-template-areas:
    "testimonial"
    "platforms"
    "consistency"
    "schedule"
    "followers"
    "growth"
    "faster-content"
    "writing";

  // Desktop: 1024px+ Layout
  @include mixins.breakpoint($breakpoint-laptop) {
    max-width: 1200px;
    margin: 4rem auto 3rem;
    grid-template-columns: repeat(4, 1fr);
    gap: $space-md;
    grid-template-areas:
      "faster-content   testimonial   testimonial   schedule"
      "faster-content   platforms     consistency   schedule"
      "writing          platforms     consistency   schedule"
      "writing          growth        followers     followers";
  }

  // Center content on 4K 2560px Screens
  @include mixins.breakpoint($breakpoint-desktop-4k) {
    place-content: center;
  }
}

// Base Layout
.testimonial-card {
  // Mixin for card styling
  @include mixins.card-theme($purple-500, $white);
  text-align: center;
  padding-inline: $space-lg;
  padding-block: $space-xl;

  &__highlight {
    color: $yellow-500;
    background-color: transparent;
  }
  &__figure {
    // Reset default browser margin
    margin: 0;
    // Use flexbox to center content
    @include mixins.flexbox(column);
    gap: $space-xs;

    figcaption {
      font-weight: 200;
    }
  }

  &__rating {
    max-width: 70%;
    align-self: center;
  }

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    display: flex;
    flex-direction: column;
    grid-area: testimonial;
    padding-block: $space-3xl;

    h1 {
      padding-inline: 1rem;
    }

    &__rating {
      max-width: 40%;
    }
  }
}

.multiple-platform-card {
  @include mixins.card-theme($white, $black, $padding: $space-sm);
  display: flex;
  flex-direction: column;

  &__image {
    // Filter to add a very subtle shadow to helpmask
    // the faint purple edge artifacts on the image asset.
    filter: drop-shadow(0 2px 8px hsl(0 0% 0% / 0.15));
    max-width: 100%;
    order: -1;
    padding-bottom: $space-sm;
  }
  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    grid-area: platforms;
    overflow: clip;
    padding-inline: $space-sm;
    padding-top: $space-md;

    h2 {
      padding-left: $space-xxs;
    }

    &__image {
      // Set width to make the image overflow
      // its container
      width: 140%;
      // Remove the max-width constraint
      // to allow the element to grow
      max-width: none;
      // Nudge image to the right to create
      // overflow effect
      transform: translateX($space-xs);
    }
  }
}

.consistent-posting-card {
  @include mixins.card-theme($yellow-500, $black);

  // Reset padding-bottom to match design
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  // Allows image to be clipped
  overflow: clip;

  h2 {
    text-align: left;
  }

  &__image {
    margin: 0;
    // Remove the max-width constraint
    // to allow the element to grow
    max-width: none;
    width: 100%;
    // Pushes the image down so it overflows the card and
    // gets clipped.
    transform: translateY(1.3rem);
  }

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    grid-area: consistency;
    padding-top: $space-md;
    padding-inline: $space-md;
    // Establish a positioning context for child elements. This makes the card
    // the "anchor" for the absolutely positioned image inside it.
    position: relative;

    h2 {
      // Add space below the heading
      margin-bottom: $space-md;
    }

    &__image {
      // Take the image out of the normal document flow. This allows us to
      // position it anywhere relative to its parent (the card).
      position: absolute;
      // Move the image's bottom edge below the card's bottom edge.
      bottom: -2.2rem;
      width: 80%;
    }
  }
}

.schedule-posts-card {
  @include mixins.card-theme($purple-100, $black);

  display: flex;
  flex-direction: column;
  text-align: center;
  // Overwrite card-theme mixin default padding-top
  padding-top: $space-lg;

  h2 {
    margin-bottom: $space-sm;
  }

  &__image {
    margin-bottom: $space-md;
  }

  figcaption {
    font-size: $fs-base;
    font-weight: 400;
    margin-block: $space-sm;
    margin-inline: $space-xs;
  }
  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    grid-area: schedule;
    padding-top: $space-2xl;
    overflow: clip;

    h2 {
      text-align: left;
      margin-left: $space-xs;
    }

    &__image {
      margin-left: $space-lg;
      max-width: 160%;
      // Move image along x-axis to clip it at a specific position
      transform: translateX(-1.3rem);
    }

    figcaption {
      text-align: left;
      padding-inline: $space-xs;
      font-size: $fs-base;
    }
  }
}

.grow-followers-card {
  @include mixins.card-theme($purple-500, $white);
  @include mixins.flexbox(column);
  padding: $space-md $space-2xl;
  // Center text, as this is no longer part of the flex-center mixin.
  text-align: center;
  gap: $space-2xl;

  // Position image to the left of the text
  &__image {
    order: -1;
  }

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    @include mixins.flexbox(row);
    grid-area: followers;
    // Add padding to the card to create space around its content.
    padding-left: $space-md;
    // Add space to the right between image and text
    gap: $space-xs;

    h2 {
      text-align: left;
    }

    &__image {
      max-width: 50%;
    }
  }
}

.increased-growth-card {
  @include mixins.card-theme($white, $black, $padding: $space-md);
  @include mixins.flexbox();

  &__figure {
    // Use mixin parameters to set alignment. `align: flex-start` aligns
    // items to the left in a column layout.
    @include mixins.flexbox(column, $align: flex-start);
    gap: $space-xs;
    // Text alignment must be set explicitly.
    text-align: left;
  }

  &__image {
    width: 70%;
  }

  &__percentage {
    font-size: $fs-h1;
    font-weight: 500;
  }

  figcaption {
    font-size: $fs-figcaption;
    font-weight: 400;
    margin-bottom: $space-sm;
  }

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    grid-area: growth;
    justify-content: flex-start;
    // Reset top and bottom padding
    padding-block: 0;

    figcaption {
      // Force text to not wrap and stay on one line
      white-space: nowrap;
    }
  }
}

.faster-content-creation-card {
  @include mixins.card-theme($yellow-100, $black, $padding: $space-md);
  display: flex;
  flex-direction: column;

  &__emphasis {
    color: $purple-500;
    font-style: italic;
  }

  h2 {
    // Add some space between the text and the image
    margin-bottom: $space-sm;
  }

  &__image {
    max-width: 60%;
    // Increase card height at bottom to be closer to original mobile design
    padding-bottom: $space-xs;
  }

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    grid-area: faster-content;
    text-align: left;
    padding-block: $space-2xl 0;

    &__image {
      max-width: 100%;
    }
  }
}

.write-content-card {
  // Mobile Layout
  @include mixins.card-theme($yellow-500, $black, $padding: $space-md);
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: $space-md;
  }

  &__image {
    max-width: 80%;
    // Pushes the image to the bottom of the flex container, respecting parent padding
    margin-top: auto;
  }

  // Desktop Layout: 1024px
  @include mixins.breakpoint($breakpoint-laptop) {
    grid-area: writing;
    text-align: left;
    padding-block: $space-md;

    h2 {
      max-width: 90%;
      margin-bottom: 0;
    }

    &__image {
      max-width: 100%;
    }
  }
}

footer {
  // Mobile Layout
  .attribution {
    font-size: $fs-attribution;
    text-align: center;

    &__a {
      color: $link-color;
    }
  }

  // Desktop Layout: 1024px+
  @include mixins.breakpoint($breakpoint-laptop) {
    grid-area: footer;
  }
}
